<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e.as1">

    <application
        android:allowBackup="true"
        android:icon="@drawable/prof"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirebaseAuthData">
        <activity android:name="com.e.as1.Dashboard"/>
        <activity android:name="com.e.as1.Fetch_API"/>
        <activity android:name="com.e.as1.Login"/>
        <activity android:name="com.e.as1.Register">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>